.pageHome {
  margin: 20px;
  display: block;
}

button.styleButton {
  background-color: rgba(9, 72, 247, 0.8) !important;
  color: whitesmoke !important;
  font-size: 15px;
  border-radius: 5px;
  margin: 0 0 20px 20px;
  width: auto;
  height: max-content;
}

button.styleButton:hover {
  background-color: rgb(9, 72, 247) !important;
}

.ant-table-thead .ant-table-cell {
  background-color: rgb(237, 234, 253);
  font-weight: bold;
  color: rgb(124, 121, 121);
}

.styleSearch {
  width: 350px;
  float: right;
  margin-bottom: 20px;
}
